name: Outside Run Test

on:
  push:
    branches: [ "main", "draft" ]
  pull_request:
    branches: [ "main", "draft" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      working-directory: ./test_krokkos
      run: cargo build --verbose
    - name: Run extern proj using krokkos
      working-directory: ./test_krokkos
      run: cargo run --verbose
    - name: Set up Node
      uses: actions/setup-node@v4

    - name: Install dependencies
      run: npm install

    - name: Run tests
      run: npx jest --coverage

    - name: Upload results to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
